@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
    margin: 0;
    padding: 0;
    margin-top: -60px;
    background: #141414;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #6D6D6D;
    opacity: 0;
    animation: fade-in 500ms ease 200ms 1 forwards;
}

body h1 {
    color: #fff;
    font-size: 50px;
}

body a {
    color: #6D6D6D;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 300ms ease;
}

body a:hover {
    color: #EBECEC;
    border: 1px solid #EBECEC;
}

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

.logo {
    margin: 79px 60px 0px 50px;
    background-size: cover;
}

.logo img {
    width: 180px;
}

.wrapper {
    margin: 10px 0;
    text-align: center;
}

.manage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 30px 0;
}

.manage a {
    border: 1px solid #6D6D6D;
    padding: 8px;
    text-align: center;
    align-items: center;
}
  
.profile {
    width: 150px;
}


.profile-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 50px auto;
}

.profile-icon {
    width: 150px;
    height: 150px;
    border: 6px solid #1f1f1f;
    transition: all 300ms ease;
}
  
.profile-name {
    margin: 20px 0;
    line-height: 1.25em;
    transition: all 300ms ease;
}
  
.profile:hover .profile-icon {
    border: 6px solid #EBECEC;
}
  
.profile:hover .profile-name {
    color: #EBECEC;
}